@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Love+Ya+Like+A+Sister&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}

body {

    background-color: black;

}

nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>.logo {
    margin-left: 150px;
}

nav>.logo>img {
    height: 80px;
}
/* nav buttons box */
.links {
    display: flex;
    gap: 20px;
    align-items: center;

}

.links>button {
    width: 100px;
    height: 70px;
    border: none;
    font-size: 16px;
    background-color: black;
}

.links>button>a {
    color: white;
    text-decoration: none;
}
/* get a franchise button */
.links>.franchise-btn {
    border: 1px solid white;
    height: 45px;
    width: 160px;
    border-radius: 30px;
}

.online-order-btn {
    width: 160px;
    height: 50px;
    background-color: #ED1C24;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.online-order-btn>a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


/* arrow button in online order button styling */
.go-to-online-order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;

}


.go-to-online-order>a>i {
    color: #ED1C24;
    text-decoration: none;
}


/* hero section */

.hero-section-img {
    width: 100%;
    height: 100vh;
}
.hero-section-img>img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.main-section-for-cards {
    height: 80vh;
}

.main-section-headings {
    color: white;
    text-align: center;
    margin-top: 80px;
}

.main-section-headings>h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
/* choose by gallery box */
.main-cards {
    display: flex;
    gap: 10px;
    width: 85%;
    margin-top: 30px;
}

/* dish cards */
.card {
    width: 240px;
    height: 440px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.card-image{
width: 100%;
height: 90%;
}

.card>.card-image>img {
    background-color: white;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.card>p {
    color: white;
    margin-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/* discover taste section box styling */
.deal-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80vh;
    background-color: #0F0F0F;

}
.deal-img{
    width: 50%;
    height: 100%;

}
.deal-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.deal-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    padding: 150px 150px 50px 150px;
}

#deal-info-heading{
    color: #ED1C24;
    letter-spacing: 5px;
    text-align: left;
}
.deal-info>h1{
    font-family: 'Times New Roman', Times, serif;
    color:  white;
    margin-left: 0px;
}

.deal-info>p{
    text-align: justify;
    width: 100%;
    word-spacing: 10px;
    line-height: 20px;
    color: grey;
}

/* learn more button */
.learn-more-btn {
    border: 1px solid white;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 0px;
}

.learn-more-btn>a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.go-to-learn-more>a{
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ED1C24;


}
/* deal cards */
.deal-card-price{
    color:  white;

}
.deal-card-price>h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
}
.card-section{
    margin-top: 20px;
    display: flex;
    width: 86%;
    flex-wrap: wrap;
    row-gap: 40px;
}
.deal-card{
    width: 30%;
    text-align: center;
    line-height:50px;
}
.deal-card>img{
    width: 100%;
    object-fit: cover;
}
.deal-card>p{
    font-size: 20px;
}
/* deal card plus icon */
.add-deal{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED1C24;
}
.weekly-menu-section{
    color: white;
    width: 100%;
    /* height: 80vh; */
    display: flex;
    margin-top: 10px;
}
.left-weekly-section{
    width: 50%;
    background-color: #0F0F0F;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.weekly-menu-info{
    width: 59%;
    height: 100%;
    margin-left: 100px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
}
#weekly-info-heading{
    color: red;
    letter-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0px;
}
.weekly-menu-info>h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
}
.weekly-menu-info>p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    color: grey;
}
.weekly-menu-info>span{
    margin-left: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
.weekly-order-btn {
    width: 160px;
    height: 50px;
    background-color: #ED1C24;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 0px;
}

.weekly-order-btn>a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.weekly-menu-img{
    width: 50%;
}
.weekly-menu-img>img{
    width: 100%;
    object-fit: cover;
}
.footer{
    width: 100%;
    height: 80vh;
    margin-top: 50px;
    display: flex;
    align-items: center;
    background-color: #0F0F0F;
    gap: 20px;
    padding-right: 180px;
}
.service-info{
    width: 400px;
    height: 400px;
    margin-left: 200px;
}
.service-info>p{
    color: #A79F89;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}
.service-info>.terms{
    color:  #A79F89;
}
.footer-logo>img{
    width: 150px;
}
.site-links{
    width: 200px;
    height: 400px;
    color:  white;
    
}
.site-links>p{
    font-size: 18px;
    font-weight: bold;
}
.site-links>ul>li{
    list-style-type: none;
    margin-top: 10px;
    cursor: pointer; 
    font-family: Arial, Helvetica, sans-serif;
}
.contact{
    width: 200px;
    height: 400px;
}
#contact-us{
    color:  white;
    font-size: 17px;
    font-weight: bold;
}
.contact>h4{
    color: white;
}
.contact>p{
    color:  white;
    line-height: 25px;
    color: #A79F89;
}
.contact>h3{
    line-height: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.follow-links{
    width: 200px;
    height: 400px;
}

.follow-links>h3{
    color: white;
}
.social-links{
    display: flex;
    justify-content: flex-start;
    padding-right: 45px;

}
.social-links> button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin-top: 20px;
    background-color: #ED1C24;
    color: white;
    margin-bottom: 20px;
}
.social-links> button>i{
    font-size: 20px;

}
.social-app-store>img{
    margin-top: 10px;
    
}
@media only screen and (max-width: 1024px){
    .links{
        gap: 10px;

    }
    .hero-section-img>img{
        height: 100vh;
        /* object-fit: cover; */
    }
    nav>.logo{
        margin-left: 30px;
    }
    .deal-info{
        padding: 10px;
    }
    .deal-info>h1{
        margin-left: 5px;
    }
    .weekly-menu-info{
        margin-top: 10px;
        margin-left: 10px;
        width: 100%;
        padding: 10px;
    }
    .service-info{
        margin-left: 10px;
    }


}
@media only screen  and (max-width: 768px) {
   nav>.logo>img {
    height: 50px;
}
.hero-section-img{
    object-fit: cover;
}
.links>button{
    width: 80px;
}
.links{
    gap:19px;
}
    .links>.franchise-btn{
        display: none;
    }
  
.card{
    height: 100%;
}
.main-section-for-cards{
height: 50vh;
}
  .deal-section {
    height: 100vh;
     flex-direction: column;
}
.deal-img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    
}
.deal-info{
    width: 100%;
    height: 50vh;
    padding: 50px 100px 30px 100px;
    gap: 20px;
}
#deal-info-heading{
    text-align: center;
}

.deal-info>p,h1{
    text-align: center;
} 
.deal-info>h1{
    margin-left: 150px;
}
.deal-info> .learn-more-btn{
    margin-left: 190px
}
.weekly-menu-section{
    flex-direction: column;
    
}
.left-weekly-section{
    width: 100%;
}

#weekly-info-heading{
    margin-left: 190px;
}
.weekly-menu-img{
    width: 100%;
}
.footer{
    margin-top: 0px;
    padding: 10px 10px 15px 10px;
}
    
}
@media only screen  and (max-width: 425px){
    .online-order-btn{
        display: none;
    }
    
}